<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>{{ .Title }}</title>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"/>
    <link
        rel="stylesheet"
        type="text/css"
        href="/static/styles/style.css"
    />
    <link
        rel="stylesheet"
        type="text/css"
        href="/static/styles/fonts.css"
    />
    <link
        rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
        crossorigin="anonymous"
    />
    <link
        rel="stylesheet"
        href="https://use.typekit.net/pgr6fet.css">
    <link
        rel="shortcut icon"
        type="/img/png"
        href="{{ .Icon }}"
    />
    <meta property="og:site_name" content="{{ .Title }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ .Title }}"/>
    <meta property="og:description" content="{{ .TagLine }}"/>
    <meta property="og:url" content="{{ .SiteUrl }}"/>
    <meta property="og:image" content="{{ .ShareImage }}"/>
    <meta property="og:image:width" content="1000"/>
    <meta property="og:image:height" content="523"/>
    <meta name="twitter:title" content="{{ .Title }}"/>
    <meta name="twitter:description" content="{{ .TagLine }}"/>
    <meta name="twitter:url" content="{{ .SiteUrl }}"/>
    <meta name="twitter:creator" content="@toddrbirchard"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:image" content="{{ .ShareImage }}"/>
</head>

<body>
    <div class="container">
        <header>
            <div>
                <h1>{{ .Title }}</h1>
                <p>{{ .TagLine }}</p>
            </div>
        </header>
        <main>
            <section id="videos">
                {{range $index, $video := .Videos}}
                    <div class="video">
                        <a href="{{$video.Url}}">
                            <div class="image-wrapper" style="background-image: url({{$video.Thumbnail}})"></div>
                            <div class="video-details">
                                <h5 class="video-title">{{$video.Title}}</h5>
                                <p class="video-description">{{$video.Description}}</p>
                            </div>
                        </a>
                    </div>
                {{end}}
            </section>

            <section id="players">
                <div class="player kik">
                    kik
                </div>
                <div class="player bro">
                    kik
                </div>
                <div class="player bales">
                    kik
                </div>
            </section>

        </main>
    </div>

    <script type="text/javascript">
        var _gauges = _gauges || [];
        (function() {
            var t   = document.createElement('script');
            t.type  = 'text/javascript';
            t.async = true;
            t.id    = 'gauges-tracker';
            t.setAttribute('data-site-id', '5f431641b264d255615e3141');
            t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
            t.src = 'https://d2fuc4clr7gvcn.cloudfront.net/track.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(t, s);
        })();
    </script>

</body>

</html>