@tablet-breakpoint: 800px;
@mobile-breakpoint: 600px;
@transition: all 0.2s ease-out;
@theme-color: #0297f6;
@body-font: 'proxima-nova', sans-serif;
@body-font-book: 'proxima-nova', sans-serif;
@header-font: 'futura-pt', sans-serif;
@table-font: 'Inter', sans-serif;
@red: #e30811;
@grey: #495064;


body,
html {
  margin: 0;
  font-family: @body-font;
  background: #e2e6ec;
  height: 100%;

  .container {
    width: 100%;
    height: 100%;
    margin: auto;
    background: white;
    position: relative;
    background-image: url('/static/img/background@2x.jpg');
    background-size: cover;
    background-position: center;

    header {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: fit-content;
        width: fit-content;
        text-align: center;

        h1 {
            margin: 0 auto 5px;
            text-transform: uppercase;
            line-height: 1;
            font-family: @header-font;
            font-size: 5em;
            color: white;
            text-shadow: 1px 1px 0 #1e222f, -1px -1px 0 #1e222f, -1px 1px 0 #1e222f, 1px -1px 0 #1e222f;
            @media(max-width: @mobile-breakpoint) {
              font-size: 3em;
            }
        }

      p {
        font-weight: 500;
        font-size: 1.5em;
        text-transform: uppercase;
        color: white;
        text-shadow: 1px 1px 0 #1e222f, -1px -1px 0 #1e222f, -1px 1px 0 #1e222f, 1px -1px 0 #1e222f;
        margin: 0 auto;
        @media(max-width: @mobile-breakpoint) {
          font-size: 1.2em;
        }
      }
    }
  }
}


